<div class="jumbotron">
  <h3><a [routerLink]="['/articles',this.article.id]"> {{this.article.title}} </a></h3>
  <p class="lead"> {{this.article.content}} </p>
  <blockquote>Written by {{this.article.authors}}</blockquote>
  <button (click)="delete()"></button>
  <div>
    <div>
      <h6>Search</h6>
      <input type="text" (keyup)="search()" id="searchTitle" placeholder="Title"><input type="text" (keyup)="search()" id="searchContent" placeholder="Content"><input type="text" (keyup)="search()" id="searchAuthors" placeholder="Authors">
    </div>
    <span id="searchResult"> {{nbResultsFounded}} Result(s) founded</span>
  </div>

  <div *ngFor="let article of this.articles()">
</div>
